body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    width: 100%;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.iframe-container {
    margin-right: 20px;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #202310;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #394032;
    color: #ccc;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container form input.upload-button {
    margin-top: 20px;
    width: 100%;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #202310;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.left-aligned-content {
    text-align: left;
    margin: 0;
}

.custom-line {
    border: 1px solid #333;
    margin: 10px 0;
}

.textbox {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    font-family: 'Courier New', monospace;
}